<div id="world">
  {{ world_name }}

  <div class="filter-bar">
    Find: <input type="text" ng-model="search_query" />
  </div>

  <div class="map">
    <ul>
      <li ng-repeat="(y, next) in most_recent_map">
        <span ng-repeat="(x, data) in next" ng-class="class_for_topography_id(data.topography)" class="tile"1>
          <!-- ({{ x }}, {{ y }}) -->
          &nbsp;
        </span>
      </li>
    </ul>
  </div>

  <div class="controls">
    <ul>
      <li><span ng-click="generate_random_world_topography()">Regenerate topography</span></li>
    </ul>
  </div>
</div>